<div class="page-wrapper">

    <section class="page-title" style="background-image:url(images/background/4.jpg)">
        <div class="auto-container">
            <h1>Menu Grid</h1>
            <ul class="page-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Menu Grid</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    <!--Breakfast Section / Lunch Section-->
    <section class="breakfast-section lunch-section">
        <div class="auto-container">
            <div class="sec-title centered">
                <h2>Our Delicious Menu</h2>
                <div class="separator"></div>
            </div>

            <div class="row clearfix">

                <!--Dish Item-->
                <div class="dish-item col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image-box">
                            <a href="shop-single.html"><img src="/images/resource/dish-1.jpg" alt="" /></a>
                        </figure>
                        <!--Lower Content-->
                        <div class="lower-content">
                            <h3 class="clearfix"><a href="shop-single.html">Trio Sausages <span class="pull-right">$100</span></a></h3>
                            <div class="text">Mussel with tomato sauce, wine</div>
                        </div>
                    </div>
                </div>

                <!--Dish Item-->
                <div class="dish-item col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image-box">
                            <div class="new">New</div>
                            <a href="shop-single.html"><img src="/images/resource/dish-2.jpg" alt="" /></a>
                        </figure>
                        <!--Lower Content-->
                        <div class="lower-content">
                            <h3 class="clearfix"><a href="shop-single.html">Cabernet Sauvignon<span class="pull-right">$155</span></a></h3>
                            <div class="text">Mussel with tomato sauce, wine</div>
                        </div>
                    </div>
                </div>

                <!--Dish Item-->
                <div class="dish-item col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image-box">
                            <a href="shop-single.html"><img src="/images/resource/dish-3.jpg" alt="" /></a>
                        </figure>
                        <!--Lower Content-->
                        <div class="lower-content">
                            <h3 class="clearfix"><a href="shop-single.html">Delirium Tremens <span class="pull-right">$200</span></a></h3>
                            <div class="text">Mussel with tomato sauce, wine</div>
                        </div>
                    </div>
                </div>

                <!--Dish Item-->
                <div class="dish-item col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image-box">
                            <a href="shop-single.html"><img src="/images/resource/dish-9.jpg" alt="" /></a>
                        </figure>
                        <!--Lower Content-->
                        <div class="lower-content">
                            <h3 class="clearfix"><a href="shop-single.html">Trio Sausages <span class="pull-right">$100</span></a></h3>
                            <div class="text">Mussel with tomato sauce, wine</div>
                        </div>
                    </div>
                </div>

                <!--Dish Item-->
                <div class="dish-item col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image-box">
                            <a href="shop-single.html"><img src="/images/resource/dish-10.jpg" alt="" /></a>
                        </figure>
                        <!--Lower Content-->
                        <div class="lower-content">
                            <h3 class="clearfix"><a href="shop-single.html">Cabernet Sauvignon<span class="pull-right">$155</span></a></h3>
                            <div class="text">Mussel with tomato sauce, wine</div>
                        </div>
                    </div>
                </div>

                <!--Dish Item-->
                <div class="dish-item col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image-box">
                            <a href="shop-single.html"><img src="/images/resource/dish-11.jpg" alt="" /></a>
                        </figure>
                        <!--Lower Content-->
                        <div class="lower-content">
                            <h3 class="clearfix"><a href="shop-single.html">Delirium Tremens <span class="pull-right">$200</span></a></h3>
                            <div class="text">Mussel with tomato sauce, wine</div>
                        </div>
                    </div>
                </div>

                <!--Dish Item-->
                <div class="dish-item col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image-box">
                            <a href="shop-single.html"><img src="/images/resource/dish-12.jpg" alt="" /></a>
                        </figure>
                        <!--Lower Content-->
                        <div class="lower-content">
                            <h3 class="clearfix"><a href="shop-single.html">Trio Sausages <span class="pull-right">$100</span></a></h3>
                            <div class="text">Mussel with tomato sauce, wine</div>
                        </div>
                    </div>
                </div>

                <!--Dish Item-->
                <div class="dish-item col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image-box">
                            <a href="shop-single.html"><img src="/images/resource/dish-13.jpg" alt="" /></a>
                        </figure>
                        <!--Lower Content-->
                        <div class="lower-content">
                            <h3 class="clearfix"><a href="shop-single.html">Cabernet Sauvignon<span class="pull-right">$155</span></a></h3>
                            <div class="text">Mussel with tomato sauce, wine</div>
                        </div>
                    </div>
                </div>

                <!--Dish Item-->
                <div class="dish-item col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <figure class="image-box">
                            <div class="new">New</div>
                            <a href="shop-single.html"><img src="/images/resource/dish-14.jpg" alt="" /></a>
                        </figure>
                        <!--Lower Content-->
                        <div class="lower-content">
                            <h3 class="clearfix"><a href="shop-single.html">Delirium Tremens <span class="pull-right">$200</span></a></h3>
                            <div class="text">Mussel with tomato sauce, wine</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!--End Breakfast Section-->

    <!--Talk Section-->
    <section class="talk-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Column-->
                <div class="content-column col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="icon-box">
                            <span class="icon flaticon-right-arrow-1"></span>
                        </div>
                        <h3>Let’s talk about some work Team.</h3>
                        <div class="text">Lorem ipsum dolor sit amet edit, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</div>
                    </div>
                </div>
                <!--Button Column-->
                <div class="button-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <a href="contact.html" class="theme-btn btn-style-one">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Talk Section-->



</div>
<!--End pagewrapper-->