@model restaurant_web_app.ViewModels.EmailConfirmationViewModel

<section class="contact-form-section">
    <div class="auto-container">
        <div class="inner-container">
            <div class="sec-title centered">
                <h2>@Model.Title</h2>
                <div class="separator"></div>
            </div>
            <div class="text">@Model.Description</div>

        </div>
    </div>
</section>